* {
    font-family: Consolas, sans-serif;
    background-color: gainsboro;
}

body .container {
    text-align: center;
}

/* .container { */
    /* width: fit-content; */
    /* border-style:solid; */
    /* border-block: solid; */
    
/* } */



li {
    list-style-type: none;
    text-indent: 1%;
}

.img.food {
    float: left;
    height: 500px;    
    width: auto;
    margin-right: 20px;
}


.img.header {
    height: auto;
    width: 300px;
}

